@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h1{
    
    font-family: 'Montserrat'; font-weight:700;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

h2 {

    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.3rem;
}

p {
    color: gray;
}

.navbar-brand {
    
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu'; font-weight:700;
    
}

.navbar-nav {
    padding: 10px;
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom:  4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.1rem;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 250px;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-text{
    font-size: 1.5rem;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: white;

}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Orelega One', cursive;
}

.tes {
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 40px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 100px;
    text-align: center;

}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Ubuntu'; font-weight:400;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 992px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        width: 45%;
        transform: rotate(0);
    }
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.cta-text{
    font-family: 'Montserrat'; font-weight:900;
    font-size: 3rem;
    line-height: 1.5;
}

#footer {
    text-align: center;
    padding: 7% 15%;
}

.social {
    padding: 20px 10px;
}